{% extends 'base.html' %}


{% block header %}
<div class="container alert alert-primary" role="alert">
    <p>タイトル：{{ board.title }}</p>
</div>
{% endblock header %}



{% block content %}
<div class="container alert alert-warning" role="alert">
    <p>投稿者：{{ board.author }}</p>
    <p>内容：{{ board.content }}</p>

    {% if object.image %}
    <p><img src="{{board.image.url}}" width=300></p>
    {% endif %}
    <a href="{% url 'board:update' board.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'board:delete' board.pk %}" class="btn btn-danger">削除</a>
</div>
<a href="{% url 'board:list' %}" class="btn btn-info" role="button" aria-pressed="true">社内連絡一覧に戻る</a>
{% endblock content %}